{% extends 'layouts/master.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'course-create' %}" class="btn btn-primary btn-sm mt-3 mb-2">Add New Course</a>
    <h1>{{ body_title }}</h1>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Python with Django</td>
                <td><a href="{% url 'course-show' %}" 
                    class="btn btn-primary btn-sm mt-3 mb-2">Show</a></td>
                <td><a href="{% url 'course-edit' %}" 
                    class="btn btn-primary btn-sm mt-3 mb-2">Edit</a></td>
                <td><a href="{% url 'course-show' %}" 
                    class="btn btn-primary btn-sm mt-3 mb-2">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}